.div__dashboard{
    color: white;
    width: 200px;
    background-color: #282626;
    height: 500px;
    position: absolute;
    margin-top: 130px;
    margin-left: 150px;
    position: fixed;
    /* display: flex; */
}
.list__dashboard{
    display: grid;
}
li a{
    font-size: 18px;
    width: 20px;
    margin-left: -2rem;
}
.btn_logout{
    width: 7rem;
    margin-top: 3rem;
    margin-left: -2.5rem;
}
